@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Black.ttf');
  src: local('./fonts/Raleway Black'), local('Raleway-Black'),
    url('./fonts/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Bold.ttf');
  src: local('./fonts/Raleway Bold'), local('Raleway-Bold'),
    url('./fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Regular.ttf');
  src: local('./fonts/Raleway Regular'), local('Raleway-Regular'),
    url('./fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-ExtraBold.ttf');
  src: local('./fonts/Raleway Extrabold'), local('Raleway-Extrabold'),
    url('./fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
.fw {
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
}
.fs {
  &-36 {
    font-size: 36px;
  }
  &-42 {
    font-size: 42px;
  }
}
