@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Thin.ttf');
  src: local('./fonts/Raleway-Thin'), local('Raleway-Thin'),
    url('./fonts/Raleway-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-ExtraLight.ttf');
  src: local('./fonts/Raleway-ExtraLight'), local('Raleway-ExtraLight'),
    url('./fonts/Raleway-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Light.ttf');
  src: local('./fonts/Raleway-Light'), local('Raleway-Light'),
    url('./fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Regular.ttf');
  src: local('./fonts/Raleway Regular'), local('Raleway-Regular'),
    url('./fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Medium.ttf');
  src: local('./fonts/Raleway-Medium'), local('Raleway-Medium'),
    url('./fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-SemiBold.ttf');
  src: local('./fonts/Raleway-SemiBold'), local('Raleway-SemiBold'),
    url('./fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Bold.ttf');
  src: local('./fonts/Raleway Bold'), local('Raleway-Bold'),
    url('./fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-ExtraBold.ttf');
  src: local('./fonts/Raleway Extrabold'), local('Raleway-Extrabold'),
    url('./fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Black.ttf');
  src: local('./fonts/Raleway Black'), local('Raleway-Black'),
    url('./fonts/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Bold.ttf');
  src: local('./fonts/RobotoCondensed Bold'), local('RobotoCondensed-Bold'),
    url('./fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Regular.ttf');
  src: local('./fonts/RobotoCondensed Regular'), local('RobotoCondensed-Regular'),
    url('./fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Light.ttf');
  src: local('./fonts/RobotoCondensed Light'), local('RobotoCondensed-Light'),
    url('./fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Light.ttf');
  src: local('./fonts/RobotoCondensed Light'), local('RobotoCondensed-Light'),
    url('./fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-ExtraLight.ttf');
  src: local('./fonts/SourceSansPro-ExtraLight'), local('SourceSansPro-ExtraLight'),
    url('./fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-Light.ttf');
  src: local('./fonts/SourceSansPro-Light'), local('SourceSansPro-Light'),
    url('./fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-Regular.ttf');
  src: local('./fonts/SourceSansPro Regular'), local('SourceSansPro-Regular'),
    url('./fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-SemiBold.ttf');
  src: local('./fonts/SourceSansPro-SemiBold'), local('SourceSansPro-SemiBold'),
    url('./fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-Bold.ttf');
  src: local('./fonts/SourceSansPro Bold'), local('SourceSansPro-Bold'),
    url('./fonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('./fonts/SourceSansPro-Black.ttf');
  src: local('./fonts/SourceSansPro Black'), local('SourceSansPro-Black'),
    url('./fonts/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.roboto {
  font-family: 'Roboto Condensed';
  font-style: normal;
}
.sourcesans {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
}

.fw {
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
  &-800 {
    font-weight: 800;
  }
}
.fs {
  &-14 {
    font-size: 14px;
  }
  &-16 {
    font-size: 16px;
  }
  &-18 {
    font-size: 18px;
  }
  &-24 {
    font-size: 24px;
  }
  &-30 {
    font-size: 30px;
  }
  &-36 {
    font-size: 36px;
  }
  &-42 {
    font-size: 42px;
  }
}
.ttu {
  text-transform: uppercase;
}
