.flex {
  display: flex;
  align-items: center;
  height: 100%;
  &--full {
    width: 100%;
  }
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
  &--nwrap {
    flex-wrap: nowrap;
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &--jcbetween {
    justify-content: space-between;
  }
}
