.swatch {
  &__Green {
    background-color: #44ff03;
  }
  &__Cyan {
    background-color: #03fff7;
  }
  &__Blue {
    background-color: #030bff;
  }
  &__Black {
    background-color: #000000;
  }
  &__White {
    background-color: #ffffff;
  }
}
