.button {
  border-radius: 0;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  &__addToCart {
    width: 100%;
    background-color: #5ece7b;
    height: 52px;
    padding: 16px 32px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
    &--Disabled {
      background-color: #666;
      pointer-events: none;
    }
  }
  &__count {
    cursor: pointer;
    height: 45px;
    width: 45px;
    font-size: 30px;
    color: #1d1f22;
    background-color: #fff;
    border: 1px solid #1d1f22;
    margin: 24px;
    &--mini {
      height: 24px;
      width: 24px;
      font-size: 24px;
      line-height: 1;
      padding: 0;
      margin: 0;
    }
  }
  &__popup {
    width: 140px;
    height: 43px;
    background-color: #fff;
    color: #1d1f22;
    border: 1px solid #1d1f22;
    &--green {
      background-color: #5ece7b;
      color: #fff;
      border: none;
      outline: none;
    }
    &--empty {
      width: 293px;
    }
  }
  &__imageChange {
    position: absolute;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    background-color: #000;
    opacity: 73%;
    bottom: 16px;
    padding-bottom: 6px;
    cursor: pointer;
    &--increment {
      right: 16px;
    }
    &--decrement {
      right: 48px;
    }
  }
}
