.emptyCart {
  text-align: center;
  margin-top: 30vh;
}
.productincart {
  height: fit-content;
  width: 100%;
  text-align: start;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  &__info {
    text-align: start;
    width: calc(100% - 200px);
    &--mini {
      width: 100%;
      margin: 32px 8px 32px 16px;
      display: flex;
      align-items: flex-start;
    }
    &__buttons {
      height: 336px;
      &--mini {
        height: 190px;
        margin: auto 0;
      }
    }
    &__attributes {
      width: 85%;
    }
  }
  &__gallery {
    position: relative;
    // z-index: -1;
  }
  &--mini {
    background-color: #fff;
    position: relative;
    border: none;
    z-index: 2;
  }
}
.cart__order {
  width: 279px;
  height: 159px;
  &__item {
    height: 28px;
  }
}
.cartpopup {
  z-index: 3;
  padding-top: 32px;
  &__total {
    padding: 0 16px;
  }
  &__buttons {
    padding: 32px 16px;
  }
}
