.mb {
  &-8 {
    margin-bottom: 8px;
  }
  &-10 {
    margin-bottom: 10px;
  }
  &-16 {
    margin-bottom: 16px;
  }
  &-20 {
    margin-bottom: 20px;
  }
  &-44 {
    margin-bottom: 44px;
  }
}
.mt {
  &-36 {
    margin-top: 36px;
  }
}
