.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &--item {
    width: 33%;
    max-width: 386px;
    height: 444px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 16px;
  }
}
.product-block {
  width: 100%;
  &--img {
    object-fit: cover;
    margin: 0 auto;
    height: 288px;
    margin: 24px;
    &__incart {
      width: 200px;
      object-fit: cover;
      &--mini {
        width: 120px;
        height: 190px;
        margin: 0 16px 0 0;
      }
    }
  }
  &--text {
    margin-top: auto;
  }
}
.product {
  &__cartbutton {
    margin-left: 80%;
    margin-top: -30px;
  }
  &__description {
    font-size: 18px;
    line-height: 160%;
    &__price {
      font-weight: 500;
    }
    &__text {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      line-height: 159.96%;
      color: #1d1f22;
    }
  }
}
.productpage__container {
  margin-top: 82px;
  width: 1000px;
  display: flex;
  align-items: flex-start;
  &__img {
    width: 610px;
    height: 511px;
    object-fit: contain;
  }
  &__sidetext {
    width: 292px;
  }
}
.colorpick {
  height: 34px;
  width: 34px;
  // border: 2px solid #000;
  border-radius: 1px;
  box-sizing: border-box;
  margin-right: 8px;
  border: 2px solid #fff;
  &--mini {
    width: 20px;
    height: 20px;
    &--active {
      outline: 1px solid #5ece7b;
    }
  }
  &--active {
    outline: 1px solid #5ece7b;
  }
}
.sizepick {
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  border-radius: 0;
  text-align: center;
  margin-right: 12px;
  padding: 13px 0;
  &--mini {
    height: 24px;
    width: 24px;
    &--active {
      background-color: #1d1f22;
      color: #fff;
    }
  }
  &--active {
    background-color: #1d1f22;
    color: #fff;
  }
}
.radio {
  appearance: none;
}
